@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Navbar Part Start */
.navbar-part{
    background: #f0fff0;
}
.nav-bg-con{
    padding-bottom: 200px;
}
.navbar-brand img{
    width: 170px;
}
.navbar-light .navbar-nav .nav-link.active{
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.sing-ing-button{
    border: none;
    background: #21b573;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    padding: 5px 20px;
    border-radius: 30px;
}
.nav-item{
    padding-right: 15px;
}
    /* Nav Bg Part Start */
.nav-bg-img img{
    width: 600px;
    padding-top: 100px;
}
.nav-bg-content{
    color: #fd511a;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding-top: 125px;
}
.head-part h5{
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
}
.head-part p{
    color: #21b573;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    padding-left: 5px;
    font-weight: 600;
}
.head-2 h6{
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin-top: 6px;
    font-weight: 600;
}
.head-content p{
    color: #6c6b6b;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.started {
    border: none;
    background: #21b573;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    padding: 10px 25px;
    border-radius: 30px;
    margin-top: 20px;
}
    /* Nav Bg Part End */
/* Navbar Part End */
/* Service Part Start */
.service-part{
    padding: 80px 0;
}
.service-con {
    background: #F0FFF0;
    text-align: center;
    padding: 40px 50px;
    transition: 1s;
}
.service-con:hover{
    background: #ffffff;
    box-shadow: 0px 0px 25px 5px lightgrey;
    cursor: pointer;
    border-radius: 10px;
}
.service-con h5{
    color: #413960;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    padding-top: 15px;
}
.service-con p{
    color: #585859;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.service-img img{
    width: 80px;
}
.service-img2 img{
    width: 66px;
}
/* Service Part End */
/* Cours Part Start */
.cours-part{
    padding-bottom: 80px;
}
.cours-header h5{
    color: #413960;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 20px;
}
.card{
    border: none;
    background: #ffffff;
    box-shadow: 0px 0px 25px 5px lightgrey;
    padding: 15px;
}
.card-title{
    color: #413960;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.card-text{
    color: #585859;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.started2 {
    border: none;
    background: #21b573;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    padding: 5px 15px;
    border-radius: 30px;
    font-size: 14px;
    margin-top: 5px;
}
.card-con-footer{
    padding-top: 30px;
}
.card-con-1 i{
    margin-top: 3px;
    color: #585859;
    padding-right: 7px;
}
.card-con-1 p{
    color: #585859;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.card-con-2{
    padding-left: 49px;
}
.card-con-2 i{
    margin-top: 3px;
    color: #585859;
    padding-right: 7px;
}
.card-con-2 p{
    color: #585859;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
/* Cours Part End */
/* Test Part Start */
.test-part{
    padding-bottom: 60px;
}
.test-img img {
    width: 100px;
    margin-left: 250px;
}
.test-content p{
    color: #585859;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding-top: 10px;
    padding-right: 250px;
}
.test-header h5{
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 20px;
}
/* Test Part End */
/* Footer Part Start */
.footer-part{
    background: #272530;
}
.footer-con-main{
    padding: 40px 0;
    padding-bottom: 10px;
}
.footer-content{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.cours .cour{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    list-style: none;
    font-weight: 600;
}
.cours li a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.copy-right{
    color: #cdcdcd;
    font-family: 'Poppins', sans-serif;
    font-size: 13px; 
    padding-top: 55px;
}
/* Footer Part End */